{% extends 'main.html' %} {% block content %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <label for="">Name:</label>
    <input type="text" name='name'> <br>
    <label for="">Company:</label>
    <input type="text" name="company" id="" list="companies">
    <datalist id="companies">
      <select>
        {% for company in companies %}
          <option value="{{company.name}}">{{company.name}}</option>
        {% endfor %}
      </select>
    </datalist><br>
    <label for="">Image:</label>
    <input type="file" name="image" id=""> <br>
    <label for="">Category:</label>
    <input type="text" name="category" id="" list="categories">
    <datalist id="categories">
      <select>
        {% for category in categories %}
          <option value="{{category.name}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </datalist>
  </div>
  <input type="submit" value="ADD PRODUCT">
</form>
{% endblock content %}
