<div class="container pt-3" style="display: flex;">
    <div class="theme4 card m-3 p-2" style="width: 8rem;">
        <img style="border: 2px black solid;"
            src="https://cdn.shopify.com/s/files/1/0557/7064/4689/files/Nutritional_Management_b659d68b-102b-46ce-9827-9a30fd37a5b8_180x.png?v=1622208696"
            alt="" srcset="">
        <p class="card-title text-center">Text</p>
    </div>
    <div class="card m-3 p-2" style="width: 8rem;">
        <img style="border: 2px black solid;"
            src="https://cdn.shopify.com/s/files/1/0557/7064/4689/files/Insecticide_e12c28c6-f3f6-4c41-a88f-58b6955cb2fc_180x.png?v=1622209052"
            alt="" srcset="">
        <p class="card-title text-center">Text</p>
    </div>
    <div class="card m-3 p-2" style="width: 8rem;">
        <img style="border: 2px black solid;"
            src="https://cdn.shopify.com/s/files/1/0557/7064/4689/files/Fungicide_04ba4426-d4d7-4498-8d63-13d87ade0057_180x.png?v=1622209083"
            alt="" srcset="">
        <p class="card-title text-center">Text</p>
    </div>
    <div class="card m-3 p-2" style="width: 8rem;">
        <img style="border: 2px black solid;"
            src="https://cdn.shopify.com/s/files/1/0557/7064/4689/files/Plant_Growth_Regulator_37d43743-6376-4d49-ba13-5d2da5da015f_180x.png?v=1622209117"
            alt="" srcset="">
        <p class="card-title text-center">Text</p>
    </div>
</div>