{% extends 'main.html' %}
{% block content %}
{% include 'components/carousel.html' %}
{% include 'components/types.html' %}

<section id="products" class="container">
    <h2 class="text-center">Products</h2>
    <div class="products p-3">
        <div class="row">
            <!-- {% for project in projects %} -->
            <div class="col-14 col-md-3 text-center" style="padding-top: 1em">
                <div class="card my-card">
                    <div class="card-body">
                        <img src="https://cdn.shopify.com/s/files/1/0557/7064/4689/products/NewAcrobat200g_01_2048x2048.png?v=1654929971"
                            width="200" alt="">
                        <p class="card-text fw-light">Acrobat</p>
                    </div>
                </div>
            </div>

            <div class="col-14 col-md-3 text-center" style="padding-top: 1em">
                <div class="card my-card">
                    <div class="card-body">
                        <img src="https://cdn.shopify.com/s/files/1/0557/7064/4689/products/VelumPrime_2048x2048.png?v=1620798161"
                            width="200" alt="">
                        <p class="card-text fw-light">Velum</p>
                    </div>
                </div>
            </div>

            <div class="col-14 col-md-3 text-center" style="padding-top: 1em">
                <div class="card my-card">
                    <div class="card-body">
                        <img src="https://cdn.shopify.com/s/files/1/0557/7064/4689/products/AgristoreProducts_45_2048x2048.png?v=1625787918"
                            width="200" alt="">
                        <p class="card-text fw-light">Mahastra</p>
                    </div>
                </div>
            </div>

            <div class="col-14 col-md-3 text-center" style="padding-top: 1em">
                <div class="card my-card">
                    <div class="card-body">
                        <img src="https://cdn.shopify.com/s/files/1/0557/7064/4689/products/Orius_2048x2048.png?v=1620646196"
                            width="200" alt="">
                        <p class="card-text fw-light">Orius</p>
                    </div>
                </div>
            </div>

            <div class="col-14 col-md-3 text-center" style="padding-top: 1em">
                <div class="card my-card">
                    <div class="card-body">
                        <img src="https://cdn.shopify.com/s/files/1/0557/7064/4689/products/Sofia_2048x2048.png?v=1620818055"
                            width="200" alt="">
                        <p class="card-text fw-light">Sofia</p>
                    </div>
                </div>
            </div>

            <div class="col-14 col-md-3 text-center" style="padding-top: 1em">
                <div class="card my-card">
                    <div class="card-body">
                        <img src="https://cdn.shopify.com/s/files/1/0557/7064/4689/products/FolioGold_2048x2048.png?v=1620826479"
                            width="200" alt="">
                        <p class="card-text fw-light">Folio Gold</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- {% endfor %} -->
    </div>
</section>
{% endblock content %}