{% extends 'main.html' %} {% block content %} {% load static %}
<div class="container text-center">
  <form action="" method="post">
    {% csrf_token %}
    <img src="{{product.image.url}}" width="300" alt="" srcset="" /> <br />
    <h6>{{product.company}}</h6> <br />
    <h4>name: {{product.name}}</h4>
    <h5>category : {{product.category}}</h5>
    <h2 id="rs"></h2>

    <select onchange='refresh_pack()' name="pack" id="pack">
      {% for pack in packs %}
        <option value="{{pack.id}}">{{pack}}</option>
      {% endfor %}
    </select>

  </form>
</div>

<script>
  const main_pack = "RS. "+{{main}}+".00"
  const pack = [{% for pack in packs %}{{pack.price}}, {% endfor %} ]
</script>
<script src="{% static 'js/product.js' %}"></script>

{% endblock content %}
