{% extends 'main.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/product_page.css' %}">
<div class="theme3 container">
  <form action="" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="product_image">
            <img class="w-75" src="{{product.image.url}}" alt="" srcset="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="pt-3">
            <span class="small-text">{{product.company}}</span> <br>
            <span class="small-text">{{product.category}}</span> <br>
            <span id="rate" class="small-text"></span><br>
            <span class="fs-1 fw-normal">{{product.name}}</span> <br>
            <span id="total" class="fs-1 fw-normal"></span> <br>
          </div>

          <div class="p-2">
            <label class="form-label" for="">Pack</label>
            <div class="ps-4 pe-4">
              <select id="pack" name="pack" class="form-select" onchange="refresh_pack()">
                {% for pack in packs %}
                <option value="{{pack.id}}">{{pack}}</option>
                {% endfor %}
              </select>
            </div>

            <label class="form-label">Quantity</label>
            <div class="ps-4 pe-4">
              <input onkeyup="refresh_pack()" onchange="refresh_pack()" class="form-control" aria-colcount=""
                type="number" class="" name="quantity" id="quantity" value="1" min="1" max="1000">
            </div>


          </div>
          <div class="pt-3">
            <a class="btn btn-success w-100" href="#">Add to Cart</a>
          </div>
          <div class="pt-3">
            <a class="btn btn-success w-100" href="#">Buy Now</a>
          </div>
          <div class="pt-3">
            <a class="btn btn-success w-100" href="{% url 'edit_product' category=category pk=product.id%}">EDIT
              PRODUCT</a>
          </div>
          <div class="text-center">
            <img class="w-75" src="{% static 'images/reasons.png' %}" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

<script>
  const main_pack = {{ main }}
  const price = [{% for pack in packs %}{{ pack.price }}, {% endfor %} ]
</script>
<script src="{% static 'js/product.js' %}"></script>

{% endblock content %}
